html{
    background-image: url(../IllustrationsLogo/Allpages/arrière_plan.png);
    background-size: 1920px 3943px;
    background-position: center;
    margin: 0;
}

:root{
    --white-color: #FFFFFF;
    --pink1-color: #F2CEF2;
    --greypurple-color: #9E91B7;
    --pink-color: #DF99F2;
    --purple-color: #3D2DA6;
    --blue-color: #07338C;
    --blue1-color: #021740;
    --black-color: #000;
}

@font-face {
    font-family: 'BEYNO';
    src: url(../police/BEYNO.ttf);
}

@font-face {
    font-family: 'Panthera';
    src: url(../police/PantheraRegular-MVZ9J.ttf);
}

@font-face {
    font-family: 'Wakandaforever';
    src: url(../police/WakandaForever-Regular.ttf);
}

@font-face {
    font-family: 'Cantarell';
    src: url(../police/Cantarell-Regular.ttf);
}
#tete{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    margin-left: 70px;
    margin-right: 40px;
}

ul{
    list-style: none;
}

nav ul a{
    color: var(--white-color);
    margin-left: 150px;
    font-family: 'BEYNO';
    font-size: 30px;
    text-decoration: none;
}
nav ul a:hover{
    color: var(--greypurple-color);
    text-decoration: underline;
}
/*Section hero*/
#hero{
    background-image: url(../IllustrationsLogo/Accueil/Pantherhome1..png);
    height: 1000px;
    background-position: right 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    margin-top: -100px;
}
#hero .plus{
    display: inline;
    text-align: start;
    color: var(--white-color);
    font-family: 'Cantarell';
    font-size: 16px;
    align-self: flex-start;
    margin-left: 70px;
}
#hero h1{
    color: var(--greypurple-color);
    font-family: 'panthera';
    font-size: 68px;
    margin-left: 70px;
    margin-top: 340px;
}
#hero h2{
    color: var(--greypurple-color);
    font-family: 'BEYNO';
    font-size: 32px;
    margin-left: 70px;
}
#hero p{
    color: var(--white-color);
    font-family: 'Cantarell';
    font-size: 16px;
    margin-right: 1200px;
    margin-left: 70px;
    text-align: justify;
}

/*wakanda*/
#wakan{
    background-image: url(../IllustrationsLogo/Wakanda/Pantherwakanda1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    margin-right: -8px;
    margin-left: -8px;
    margin-top: -60px;
}
#wakan .wakata{
    color: var(--greypurple-color);
    font-family: 'Panthera';
    font-size: 68px;
    margin-left: 70px;
}
#wakan .wakati{
    color: var(--greypurple-color);
    font-family: 'wakandaforever';
    font-size: 32px;
    margin-left: 70px;
}
#wakan .wakal{
    align-items: normal;
    position: absolute;
    margin-top: 350px;
}
#wakan p{
    color: var(--white-color);
    font-size: 16px;
    margin-left: 70px;
    margin-right: 1100px;
    text-align: justify;
}

/*Design de la partie Killmonger et Okoye*/
#kiloko {
    background-color: var(--blue1-color);
    margin-left: 0px;
    margin-right: -20px;
}
  
  .content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .image, .text, .voir{
    margin-right: 20px;
    margin-left: 20px;
  }
  .text {
    text-align: right;
    margin-right: 20px;
  }
  
  .image {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .voir{
    display: inline;
    text-align: start;
    color: var(--white-color);
    font-family: 'Cantarell';
    font-size: 16px;
    align-self: flex-start;
  }
  h2{
    color: var(--greypurple-color);
    font-family: 'BEYNO';
    font-size: 32px;
  }
  p{
    color: var(--white-color);
    font-family: 'Cantarell';
    font-size: 16px;
    text-align: justify;
  }

/*Design de la partie naissance d'un prince*/
#prince{
    margin-left: 70px;
    margin-right: 800px;
    text-align: justify;
}

/*Design de la partie T'Challa*/
#challa{
    background-color: var(--white-color);
    border:#FFFFFF;
    border-image-slice: fill;
    background-position: right;
    background-size: auto 30%;
    border-radius: 38px;
    margin-left: 1000px;
    margin-top: -1650px;
    margin-right: 100px;
    align-items: center;
    padding: 50px;
}
#challa .sary{
    text-align: center;
}
#challa .kala{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 10px;
    margin-right: 40px;
}
#challa .kala .btn{
    color: var(--white-color);
    background: var(--blue-color);
    background-size: contain;
    border: var(--blue-color);
    border-radius: 10px;
    padding: 10px;
}

#challa .ikala span{
    font-weight: bold;
}
#challa p{
    color: var(--blue1-color);
}
#challa h2{
    color: var(--black-color);
    font-family: 'cantarell';
    text-align: center;
}
#mimi{
    margin-left: 1100px;
    margin-top: 60px;
}


.contact{
    background-image: url(../IllustrationsLogo/Accueil/Pantherhome7.png);
    background-position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-y: center;
    height: 999px;
    width: 100%;
    margin-left: -9px;
    margin-right: -20px;
    margin-bottom: -300px;
}
.contact .kontakt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom, #FFFFFF, #ffffffa6);
    background-position: fixed;
    margin-top: 300px;
    opacity: 0.8;
    border-radius: 38px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 20px;
    margin-top: 100px;
  }
.contact div{
    margin: 0px;
    margin-left: 400px;
    margin-right: 400px;
  }
  .fenoina {
    width: 100%; 
    max-width: 400px; 
  }
  
  /* Style pour les éléments input */
  .fenoina input {
    size: 520px 56px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--blue1-color);
    border-radius: 38px;
  }
  .fenoina textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--blue1-color);
    border-radius: 38px;
    height: 200px;
  }
  .fenoina input::placeholder{
    color: var(--blue1-color);
  }
  .fenoina textarea::placeholder{
    color: var(--blue1-color);
  }
  .fenoina button {
    background: rgb(245, 206, 238);
    size: 174px 54px;
    color: var(--blue1-color);
    padding: 10px 20px;
    border: none;
    border-radius: 38px;
    cursor: pointer;
  }
  
  .contact h4{
    margin: 20px 0;
  }
  .contact h2{
    margin: 10px 0;
    font-family: 'cantarell';
    font-size: 32px;
    color: var(--blue1-color);
  }

/*Design du footer*/
#tongo{
    background-image: url(../IllustrationsLogo/Allpages/back_footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -8px;
    margin-right: -10px;
}
#tongo {
  text-align: center;
}
.image-cont {
  display: inline-block;
  position: relative;
  left: -650px;
  top: 150px;
  bottom: 150px;
}

.image-cont img {
  display: block;
  margin: 0 auto;
}

.image-cont img:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.soratra {
  text-align: center;
  margin-top: -100px;
}

.soira {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: center;
  margin-right: 440px;
}

.soira img {
  max-width: 100%;
  margin-right: 30px;
}


  .soratra .sora{
    margin-left: 500px;
    color: var(--white-color);
    font-family: 'cantarell';
    font-size: 22px;
    letter-spacing: 28%;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .soratra nav ul a{
        font-family: 'cantarell';
        font-size: 16px;
        margin-left: -760px;
        position: relative;
    }
  .soratra .siora{
        margin-top: -120px;
        margin-left: 1000px;
        color: var(--white-color);
        font-family: 'cantarell';
        font-size: 22px;
        letter-spacing: 28%;
        display: flex;
        justify-content: space-between;
        text-align: center;
  }
  .soratra .soira{
    margin-left: 1000px;
  }

  .mila {
    text-align: center;
    margin-top: 50px;
  }

.mila p {
  font-size: 10px;
    display: inline;
    margin: 0;
    margin-left: -600px;
}

.mila nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
  }

.mila nav li {
    margin: 0;
    margin-left: 400px;
    margin-top: -35px;
  }

.mila nav li a {
    font-family: 'cantarell';
    font-size: 10px;
    text-decoration: none;
    color: var(--white-color);
    margin-bottom: -150px;
  }


.mila nav a:hover {
    text-decoration: underline;
}





