html{
    background-image: url(../IllustrationsLogo/Allpages/arrière_plan.png);
    background-size: 1920px 3943px;
    background-position: center;
    margin: 0;
}

:root{
    --white-color: #FFFFFF;
    --pink1-color: #F2CEF2;
    --greypurple-color: #9E91B7;
    --pink-color: #DF99F2;
    --purple-color: #3D2DA6;
    --blue-color: #07338C;
    --blue1-color: #021740;
    --black-color: #000;
}

@font-face {
    font-family: 'BEYNO';
    src: url(../police/BEYNO.ttf);
}

@font-face {
    font-family: 'Panthera';
    src: url(../police/PantheraRegular-MVZ9J.ttf);
}

@font-face {
    font-family: 'Wakandaforever';
    src: url(../police/WakandaForever-Regular.ttf);
}

@font-face {
    font-family: 'Cantarell';
    src: url(../police/Cantarell-Regular.ttf);
}
#tete{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    margin-left: 70px;
    margin-right: 40px;
}

ul{
    list-style: none;
}

nav ul a{
    color: var(--white-color);
    margin-left: 150px;
    font-family: 'BEYNO';
    font-size: 30px;
    text-decoration: none;
}
nav ul a:hover{
    color: var(--greypurple-color);
    text-decoration: underline;
}
/*Section hero*/
#hero{
    background-image: url(../IllustrationsLogo/Accueil/Pantherhome1..png);
    height: 1000px;
    background-position: right 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    margin-top: -100px;
}
#hero .plus{
    display: inline;
    text-align: start;
    color: var(--white-color);
    font-family: 'Cantarell';
    font-size: 16px;
    align-self: flex-start;
    margin-left: 70px;
}
#hero h1{
    color: var(--greypurple-color);
    font-family: 'panthera';
    font-size: 68px;
    margin-left: 70px;
    margin-top: 340px;
}
#hero h2{
    color: var(--greypurple-color);
    font-family: 'BEYNO';
    font-size: 32px;
    margin-left: 70px;
}
#hero p{
    color: var(--white-color);
    font-family: 'Cantarell';
    font-size: 16px;
    margin-right: 1200px;
    margin-left: 70px;
    text-align: justify;
}

/*wakanda*/
#wakan{
    background-image: url(../IllustrationsLogo/Wakanda/Pantherwakanda1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    margin-right: -8px;
    margin-left: -8px;
    margin-top: -60px;
}
#wakan .wakata{
    color: var(--greypurple-color);
    font-family: 'Panthera';
    font-size: 68px;
    margin-left: 70px;
}
#wakan .wakati{
    color: var(--greypurple-color);
    font-family: 'wakandaforever';
    font-size: 32px;
    margin-left: 70px;
}
#wakan .wakal{
    align-items: normal;
    position: absolute;
    margin-top: 350px;
}
#wakan p{
    color: var(--white-color);
    font-size: 16px;
    margin-left: 70px;
    margin-right: 1100px;
    text-align: justify;
}

/*Design de la partie Killmonger et Okoye*/
#kiloko {
    background-color: var(--blue1-color);
    margin-left: 0px;
    margin-right: -20px;
}
  
  .content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .image, .text, .voir{
    margin-right: 20px;
    margin-left: 20px;
  }
  .text {
    text-align: right;
    margin-right: 20px;
  }
  
  .image {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .voir{
    display: inline;
    text-align: start;
    color: var(--white-color);
    font-family: 'Cantarell';
    font-size: 16px;
    align-self: flex-start;
  }
  h2{
    color: var(--greypurple-color);
    font-family: 'BEYNO';
    font-size: 32px;
  }
  p{
    color: var(--white-color);
    font-family: 'Cantarell';
    font-size: 16px;
    text-align: justify;
  }

/*Design de la partie naissance d'un prince*/
#prince{
    margin-left: 70px;
    margin-right: 800px;
    text-align: justify;
}

/*Design de la partie T'Challa*/
#challa{
    background-color: var(--white-color);
    border:#FFFFFF;
    background-position: right;
    background-size: auto 30%;
    border-radius: 10px;
    margin-left: 1000px;
    margin-top: -1650px;
    margin-right: 100px;
    align-items: center;
    padding: 50px;
}
#challa .sary{
    text-align: center;
}
#challa .kala{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 10px;
    margin-right: 40px;
}
#challa .kala .btn{
    color: var(--white-color);
    background: var(--blue-color);
    background-size: contain;
    border: var(--blue-color);
    border-radius: 10px;
    padding: 10px;
}

#challa .ikala span{
    font-weight: bold;
}
#challa p{
    color: var(--blue1-color);
}
#challa h2{
    color: var(--black-color);
    font-family: 'cantarell';
    text-align: center;
}
#mimi{
    margin-left: 1100px;
    margin-top: 60px;
}